<ion-view view-title="BLE Messenger" id="MessengerView">
    <ion-content>
        <h1 id="dataDisplay" class="{{bleData?'':'empty'}}">{{bleData?bleData:"Nothing yet..."}}</h1>
        <div id="statusDiv">{{statusMsg?statusMsg:"not connected"}}</div>
        <ion-list>
            <label class="item item-input">
                <input type="text" ng-model="formData.msg" placeholder="Message"/>
            </label>
        </ion-list>
        <button class="base primary button-block" ng-click="sendMsg()" >send </button>
        <button class="base primary button-block" ng-click="readVal()" >read </button>
    </ion-content>
</ion-view>