<ion-view title="Space Rover" id="LogoRobot">
	<ion-content>
		Add directions with arrow buttons, and send with tick button. 
		<div id="logoCommands">
			<span class="logoCommand ion-arrow-{{cmd.name}}-c" ng-repeat="cmd in logoCommands">
				
			</span>
			<span class="logoCommand">
				_
			</span>
		</div>
		<div id="logoControls">
			<button class="button base secondary icon ion-arrow-up-c" ng-click="addCmd('up')"></button>
			<button class="button base secondary icon ion-arrow-down-c" ng-click="addCmd('down')"></button>
			<button class="button base secondary icon ion-arrow-left-c" ng-click="addCmd('left')"></button>
			<button class="button base secondary icon ion-arrow-right-c" ng-click="addCmd('right')"></button>
			<button class="button base secondary icon ion-checkmark-round" ng-click="sendCmd()"></button>
			<button class="button base secondary icon ion-backspace" ng-click="backspace(1)"></button>		
		</div>
	</ion-content>
</ion-view>
