<ion-view title="UART" id="uart">

	<ion-content ng-switch on="uartTabMode" >

		<div id="editButtonContainer" class="uartTab-{{uartTabMode}}"><button class="button base secondary icon ion-gear-a" ng-click="toggleEdit()"></button></div>
		
		<div class="tabContainer {{ editMode? 'editMode':'' }}" ng-switch-when="0" >
			<div id="valueDisplayContainer"  >
				<div class="valueDisplay" ng-repeat="valueDisplay in valueDisplays track by $index" ng-click="editValueDisplay($index)">
					<h1>{{valueDisplay.title}}</h1>

					<div class="content">{{valueDisplay.value}}</div>
				</div>
				<div class="addValueDisplay" ng-click="addNewValueDisplay()" ng-show="editMode">
					<h1>Add New Value</h1>
					<div class="content">+</div>
				</div>
			</div>
		</div>

		<div class="tabContainer {{ editMode? 'editMode':'' }}" ng-switch-when="1">
			<div id="CustomControlContainer">
				<div class="row">
					<button class="customControl button base secondary icon {{customControls[0].icon}} " ng-click="customControlClicked(0)">
					</button>
				</div>

				<div class="row">
					<button class="customControl button base secondary icon {{customControls[1].icon}} " ng-click="customControlClicked(1)">
					</button>
					<button class="customControl button base secondary icon {{customControls[2].icon}} " ng-click="customControlClicked(2)">
					</button>
					<button class="customControl button base secondary icon {{customControls[3].icon}} " ng-click="customControlClicked(3)">
					</button>
				</div>

				<div class="row">
					<button class="customControl button base secondary icon {{customControls[4].icon}} " ng-click="customControlClicked(4)">
					</button>
					<button class="customControl button base secondary icon {{customControls[5].icon}} " ng-click="customControlClicked(5)">
					</button>
					<button class="customControl button base secondary icon {{customControls[6].icon}} " ng-click="customControlClicked(6)">
					</button>
					<button class="customControl button base secondary icon {{customControls[7].icon}} " ng-click="customControlClicked(7)">
					</button>
				</div>
			</div>
		</div>


	</ion-content>


	<div class="tabs">
		<a class="tab-item {{uartTabMode==0?'selected':''}}" ng-click="setTabMode(0)">
			<!--		-->
			Value Display
		</a>
		<a class="tab-item {{uartTabMode==1?'selected':''}}" ng-click="setTabMode(1)">
			Custom Control
		</a >
	</div>

</ion-view>

