<ion-view title="CTC Ble" id="welcomeView">
	<ion-content>
		<div class="ion-planet welcomeImg"></div>
		<div class="welcomeText wt1">Welcome to our space voyage! Click "connect" on top right corner to connect to your device</div>
		<div class="welcomeText wt2">
			There are a few exercises you can do with this app
		</div>
		<ul class="welcomeText wt3">
			<li>BLE Messenger</li>
			<li>Value Display</li>
			<li>Custom Control</li>
			<li>ZaZZ the Alien</li>
			<li>Space Rover</li>
		</ul>
		<!--<button ng-click="testStuff()">Test</button>-->
	</ion-content>
</ion-view>