@font-face {
		font-family: 'arduino_ideregular';
		src: url('../webfont/ide_font_04-webfont.eot');
		src: url('../webfont/ide_font_04-webfont.eot?#iefix') format('embedded-opentype'),
				 url('../webfont/ide_font_04-webfont.woff') format('woff'),
				 url('../webfont/ide_font_04-webfont.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
}
@font-face {
		font-family: 'TypoNine';
		src: url('../webfont/typoninesanscpro-light-webfont.eot');
		src: url('../webfont/typoninesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
				 url('../webfont/typoninesanspro-light-webfont.woff') format('woff'),
				 url('../webfont/typoninesanspro-light-webfont.ttf') format('truetype');
		font-weight: 100;
		font-style: normal;
}
@font-face {
		font-family: 'TypoNine';
		src: url('../webfont/typoninesanspro-medium-webfont.eot');
		src: url('../webfont/typoninesanspro-medium-webfont.eot?#iefix') format('embedded-opentype'),
				 url('../webfont/typoninesanspro-medium-webfont.woff') format('woff'),
				 url('../webfont/typoninesanspro-medium-webfont.ttf') format('truetype');
		font-weight: bold;
		font-style: normal;
}
@font-face {
		font-family: 'TypoNine';
		src: url('../webfont/typoninesanspro-regular-webfont.eot');
		src: url('../webfont/typoninesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
				 url('../webfont/typoninesanspro-regular-webfont.woff') format('woff'),
				 url('../webfont/typoninesanspro-regular-webfont.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
}
@font-face {
		font-family: 'TypoNine';
		src: url('../webfont/typoninesanspro-text-webfont.eot');
		src: url('../webfont/typoninesanspro-text-webfont.eot?#iefix') format('embedded-opentype'),
				 url('../webfont/typoninesanspro-text-webfont.woff') format('woff'),
				 url('../webfont/typoninesanspro-text-webfont.ttf') format('truetype');
		font-weight: 600;
		font-style: normal;
}
@font-face {
		font-family: 'TypoNineMono';
		src: url('../webfont/typsansmono_bold-webfont.eot');
		src: url('../webfont/typsansmono_bold-webfont.eot?#iefix') format('embedded-opentype'),
				 url('../webfont/typsansmono_bold-webfont.woff') format('woff'),
				 url('../webfont/typsansmono_bold-webfont.ttf') format('truetype');
		font-weight: bold;
		font-style: normal;
}
@font-face {
		font-family: 'TypoNineMono';
		src: url('../webfont/typsansmono-regular-webfont.eot');
		src: url('../webfont/typsansmono-regular-webfont.eot?#iefix') format('embedded-opentype'),
				 url('../webfont/typsansmono-regular-webfont.woff') format('woff'),
				 url('../webfont/typsansmono-regular-webfont.ttf') format('truetype');
		font-weight: 400;
		font-style: normal;
}
@font-face {
		font-family: 'TypoNineMono';
		src: url('../webfont/typsansmono_light-webfont.eot');
		src: url('../webfont/typsansmono_light-webfont.eot?#iefix') format('embedded-opentype'),
				 url('../webfont/typsansmono_light-webfont.woff') format('woff'),
				 url('../webfont/typsansmono_light-webfont.ttf') format('truetype');
		font-weight: lighter;
		font-style: normal;
}